<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Agency</title>

</head>
<body>

<form th:method="post" th:action="@{/agencies/{id}/update(id=${agency.getId()})}" th:object="${agency}">

  <label for="name">Name</label>
  <input id="name" th:field="*{name}">

  <label for="country">Country</label>
  <input id="country" th:field="*{country}">

  <label for="phoneNumber">PhoneNumber</label>
  <input id="phoneNumber" th:field="*{phoneNumber}">

  <label for="email">Email</label>
  <input id="email" th:field="*{email}">

  <label for="imageLink">ImageLink</label>
  <input id="imageLink" th:field="*{imageLink}">

  <br>
  <br>
  <input type="submit" value="Update Agency">

</form>


</body>
</html>