<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
                    <form th:method="POST" th:action="@{/houses/saveUpdate/{id}(id=${houses.getId()})}" th:object="${houses}">
                        <div>
                            <input type="hidden" name="id" th:field="${id}">
                        </div>
                        <div>
                            <label for="houseType" class="form-label" >Name</label>
                            <select class="form-select" id="houseType" name="houseType" required th:field="*{houseType}">
                                <option value="">Click_one_of_them.</option>
                                <option th:each="houseType : ${T(peaksoft.enums.HouseType).values()}"
                                        th:value="${houseType}"
                                        th:text="${houseType.name()}"></option>
                            </select>
                        </div>
                        <div>
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" name="address" id="address" th:field="*{address}">
                        </div>
                        <div>
                            <label for="country" >Country</label>
                            <select class="form-select" aria-label="Default select example" th:field="*{country}" id="country">
                                <option value=" KYRGYZSTAN"> KYRGYZSTAN</option>
                                <option value="KAZAKHSTAN">KAZAKHSTAN</option>
                                <option value="TAJIKISTAN">TAJIKISTAN</option>
                                <option value="UZBEKISTAN">UZBEKISTAN</option>
                                <option value="RUSSIA">RUSSIA</option>
                            </select>
                        </div>
                        <div>
                            <label for="image" class="form-label">Image</label>
                            <input type="text" class="form-image" id="image" name="image" th:field="*{image}">
                        </div>
                        <div>
                            <label for="description" class="form-label">Description</label>
                            <input type="text" class="form-control" id="description" th:field="*{description}">
                        </div>
                        <label for="isBooked">Is booked</label>
                        <select class="form-select" id="isBooked" name="isBooked" required th:field="*{isBooked}">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                        <div>
                            <label for="price" class="form-label">Price</label>
                            <input type="text" class="form-control" id="price" th:field="*{price}">
                        </div>
                        <div>
                            <label for="room" class="form-label">Room</label>
                            <input type="text" class="form-control" id="room" th:field="*{room}">
                        </div>
                        <div class="mb-3">
                            <label for="agencyName" class="form-label">Select agency</label>
                            <select class="form-select" id="agencyName" name="agencyName" required>
                                <option value="">Click_one_of_them</option>
                                <option th:each="agency : ${agencies}" th:value="${agency.id}" th:text="${agency.name}"></option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success">update</button>
                    </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</html>